/* footer */
.footer {
    background-color: #fff;
    /* margin-top: 80px; */
}
.footer-top {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.footer-top-content ul {
    list-style: none;
    font-size: 1.2rem;
}
.footer-top-content ul li {
    padding: 6px 0;
}
.footer-icon {
    font-size: 28px;
}