*{
    box-sizing: border-box;
}
.block-form{
    background-color: #f7f7f7;
}
.aforgot{
    text-decoration: none;
    color: black;

}
.quenmk{
    text-decoration: none;
    color: black;
}
.chuacotk{
    text-decoration: none;
    color: black;
}
.chuacotaikhoan{
    text-decoration: none;
    color: black;
}
.tieptuc{
    text-decoration: none;
    color: black;
}