
.container-path {
    height: 40px;
    background-color: rgb(228, 228, 228);
}
.container-path-iteam {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.container-path-iteam a {
    font-size: 1.6rem;
    line-height: 40px;
}
.container-path-iteam a::after {
    content: "/";
    padding: 0 8px;
}
.container-path-iteam a:last-child::after {
    content: "";
}
/* product */
.container-product-show {
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    padding: 20px 0 0 0;
}
.container-product-show-left {
    width: 712px;
    display: flex;
}
.container-product-show-left-active {
    width: 100px;
    margin: 4px;
    display: none;
}
.container-product-show-left-img {
    flex: 1;
    background-color: aquamarine;
    margin: 4px;
    height: 700px;
}
.container-product-show-left-img img {
    width: 100%;
    height: 100%;
}
/* right */
.container-product-show-right {
    flex: 1;
    margin-left: 20px;
}
.product-right-title {
    height: 50px;
    margin-top: 15px;
}
.product-right-title h1 {
    line-height: 100%;
    margin: 0;
}
.product-right-start {
    display: flex;
    align-items: center;
    height: 30px;
}
.product-right-start i {
    font-size: 14px;
    color: #ffcc01;
}
.product-right-reviews {
    padding-left: 10px ;
    font-size: 1.4rem;
}
.product-right-price {
    height: 40px;
}
.product-right-price span {
    font-size: 2rem;
    line-height: 40px;
}
.product-right-price span span {
    color: #c80214;
}
.product-right-color p {
    margin: 0;
    font-size: 1.2rem;
}
.product-right-color {
    display: none;
}
/* active size */
.btn-active-size {
    border: 1px solid #c80214;
    color: #c80214;
}
.btn-group,.btn-group:hover{
    box-shadow: none;   
}
.btnSize {
    padding: 0 10px;
    margin: 0 4px;
}
/* ---------- */
.product-right-size {
    font-size: 1.4rem;
}
.product-right-quantity {
    margin-top: 25px;
}
.product-right-quantity span {
    font-size: 1.4rem;
    padding-right: 20px;
}
.product-right-quantity-input {
    width: 50px;
}
.product-right-buy {
    margin-top: 20px;
    height: 40px;
}
.product-right-buy .btn-addtocart{
    padding: 10px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
.product-right-buy .btn-addtocart:first-child {
    background-color: #fff2f2;
    border: 1px solid #c80214;
    color: #c80214;
}.product-right-buy .btn-addtocart:last-child {
    background-color: #c80214;
    border: none;
}
.product-right-buy .btn-addtocart:first-child:hover {
    background-color: #fffbfb;
}
.product-right-buy .btn-addtocart:last-child:hover {
    background-color: #f02536;
    border: none;
}
.container{
    margin-bottom: 30px;
}

/* btn so luong */

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
    width: 20px;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}


